body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff;
}


/*-------------------------------------------- Style de la section d'introduction----------------------------------------- */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8EBF4;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}

.intro-text {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
    padding-right: 0;
}

.intro-text h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.intro-text p {
    margin-bottom: 20px;
    font-size: 18px;
}

.btn-inscription {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #003366;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.btn-inscription:hover {
    background-color: #002244;
}

.intro-image {
    flex: 1;
    width: 100%;
    max-width: 700px;
}

.intro-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

@media screen and (min-width: 768px) {
    .intro {
        flex-direction: row;
        padding: 0;
        height: auto;
    }

    .intro-text {
        flex: 1;
        text-align: left;
        padding: 20px;
    }

    .intro-image {
        flex: 1;
        max-width: none;
    }

    .intro-image img {
        height: 370px;
        object-fit: cover;
    }
}


/* -------------------------------------------Style de la section des formations----------------------------- */

.course-overview {
    padding: 20px;
    background-color: #ffffff;
    max-width: 1350px;
    margin: 0 auto;
}

.course-overview h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: left;
}

.course-overview p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
}

.course-tags {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgba(207, 143, 84, 0.17);
}

.tag {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding: 5px 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tag.active {
    color: #4a2c2a;
    border-bottom: 2px solid #a68d68;
}

.tag:hover {
    color: #4a2c2a;
    border-bottom: 2px solid #a68d68;
}

.course-carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(207, 143, 84);
    padding: 15px;
}

.course-list {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
}

.course-item {
    flex: 0 0 23.5%;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.course-item img {
    width: 100%;
    height: auto;
    display: block;
}

.course-details {
    padding: 10px;
    text-align: left;
}

.carousel-left,
.carousel-right {
    background-color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* Responsiveness */
@media (max-width: 1200px) {
    .course-item {
        flex: 0 0 31%;
    }
}

@media (max-width: 768px) {
    .course-item {
        flex: 0 0 48%;
    }
}

@media (max-width: 480px) {
    .course-item {
        flex: 0 0 100%;
    }
}




/*----------------------------------------------- Style de la section des parcours --------------------------------------------------*/

.course-paths {
    padding: 20px;
    background-color: #ffffff;
    max-width: 1350px;
    margin: 0 auto;
}

.course-paths h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.path-carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.path-list {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
    white-space: nowrap;
    margin: auto;
}

.path-item {
    flex: 0 0 auto;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 32%;
    box-sizing: border-box;
    text-align: center;
}

.path-item img {
    width: 100%;
    height: 70%;
    display: block;
}

.path-item p {
    padding: 10px;
    margin: 0;
    font-size: 14px;
}

/* Responsiveness */
@media (max-width: 1200px) {
    .path-item {
        flex: 0 0 31%;
    }
}

@media (max-width: 768px) {
    .path-item {
        flex: 0 0 48%;
    }
}

@media (max-width: 480px) {
    .path-item {
        flex: 0 0 100%;
    }
}


/* ----------------------------------------------Style pour la section footer---------------------------------------------------  */


footer {
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #003366;
    color: #fff;
}

.footer-item {
    flex: 1 1 200px;
    margin: 10px;
    border: 1px rgb(207, 143, 84) solid;
    padding: 10px;
}


.footer-title {
    position: relative;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.footer-title::after {
    content: "";
    display: block;
    width: 90px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-90%);
}


.footer-item h2 {
    margin-top: 0;
    font-size: 18px;
}

.footer-item p {
    font-size: 14px;
    text-align: left;

}

.footer-item a {
    color: #fff;
}

.support-list {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
    text-align: left;
}

.support-list li {
    margin-bottom: 5px;
}

.footer-copyright {
    color: #002244;
    text-align: left;
    padding: 10px 40px;
}